@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> signInManager;


    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="Responsive Admin Template" />
        <meta name="author" content="SmartUniversity" />

        <title>PRD School</title>

        <environment include="Development">
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
            <link href="~/Admin/fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Admin/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Admin/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
            <!-- BootStrap Design -->
            <link href="~/Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
            <!-- Material Design Lite CSS -->
            <link rel="stylesheet" href="assets/plugins/material/material.min.css">
            <link rel="stylesheet" href="assets/css/material_style.css">
            <!-- Theme Styles -->
            <link href="~/Admin/assets/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
            <link href="~/Admin/assets/css/theme/light/style.css" rel="stylesheet" type="text/css" />
            <link href="~/Admin/assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
            <link href="~/Admin/assets/css/responsive.css" rel="stylesheet" type="text/css" />
            <link href="~/Admin/assets/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
            <!-- dropzone -->
            <link href="~/Admin/assets/plugins/dropzone/dropzone.css" rel="stylesheet" media="screen">
            <!-- Date Time item CSS -->
            <link rel="stylesheet" href="~/Admin/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.css" />
            <!-- favicon -->
            <link rel="shortcut icon" href="http://radixtouch.in/templates/admin/smart/source/assets/img/favicon.ico" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



        </environment>
        <environment exclude="Development">


        </environment>
    </head>
    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">


        <div class="page-wrapper">


            <!-- start header -->
            <div class="page-header navbar navbar-fixed-top">
                <div class="page-header-inner ">
                    <!-- logo start -->
                    <div class="page-logo">
                        <a href="">
                            <span class="logo-icon material-icons fa-rotate-45">school</span>
                            <span class="logo-default">PRD</span>
                        </a>
                    </div>
                    <!-- logo end -->
                    <ul class="nav navbar-nav navbar-left in">
                        <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                    </ul>
                    <form class="search-form-opened" action="#" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                    <!-- start mobile menu -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                       data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- end mobile menu -->
                    <!-- start header menu -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>



                            <!-- start manage user dropdown -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                   data-close-others="true">
                                    <img alt="" class="img-circle " src="~/Admin/assets/img/dp.jpg" />
                                    <span class="username username-hide-on-mobile"> @User.Identity.Name </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="#">
                                            <i class="icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-settings"></i> Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-directions"></i> Help
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon-lock"></i> Lock
                                        </a>
                                    </li>
                                    @if (signInManager.IsSignedIn(User))
                                    {



                                        <li style="margin-right:auto;background-color:darkblue;">

                                            <form method="post" asp-action="logout" asp-controller="Account">

                                                <button type="submit" class="btn-circle-bottom" style="margin-left:60px;">Logout </button>
                                            </form>

                                        </li>
                                    }
                                    <li class="divider"> </li>
                                    <li class="divider"> </li>

                                </ul>
                            </li>
                            <!-- end manage user dropdown -->

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end header -->
            <!-- start color quick setting -->
            <div class="quick-setting-main">
                <button class="control-sidebar-btn btn" data-toggle="control-sidebar">
                    <i class="fa fa-cog fa-spin"></i>
                </button>
                <div class="quick-setting display-none">
                    <ul id="themecolors">
                        <li>
                            <p class="selector-title">Main Layouts</p>
                        </li>
                        <li class="complete">
                            <div class="theme-color layout-theme">
                                <a href="#" data-theme="light"><span class="head"></span><span class="cont"></span></a>
                                <a href="http://radixtouch.in/templates/admin/smart/source/dark/add_fees.html" data-theme="dark">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <p class="selector-title">Sidebar Color</p>
                        </li>
                        <li class="complete">
                            <div class="theme-color sidebar-theme">
                                <a href="#" data-theme="white"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="dark"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="blue"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="indigo"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="cyan"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="green"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="red"><span class="head"></span><span class="cont"></span></a>
                            </div>
                        </li>
                        <li>
                            <p class="selector-title">Header Brand color</p>
                        </li>
                        <li class="theme-option">
                            <div class="theme-color logo-theme">
                                <a href="#" data-theme="logo-white"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="logo-dark"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="logo-blue"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="logo-indigo">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="logo-cyan"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="logo-green"><span class="head"></span><span class="cont"></span></a>
                                <a href="#" data-theme="logo-red"><span class="head"></span><span class="cont"></span></a>
                            </div>
                        </li>
                        <li>
                            <p class="selector-title">Header color</p>
                        </li>
                        <li class="theme-option">
                            <div class="theme-color header-theme">
                                <a href="#" data-theme="header-white">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="header-dark">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="header-blue">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="header-indigo">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="header-cyan">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="header-green">
                                    <span class="head"></span><span class="cont"></span>
                                </a>
                                <a href="#" data-theme="header-red"><span class="head"></span><span class="cont"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end color quick setting -->

            <div class="page-container">

                <!-- start sidebar menu -->
                <div class="sidebar-container">
                    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                        <div id="remove-scroll" class="left-sidemenu">
                            <ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
                                data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                                <li class="sidebar-toggler-wrapper hide">
                                    <div class="sidebar-toggler">
                                        <span></span>
                                    </div>
                                </li>
                                <li class="sidebar-user-panel">
                                    <div class="user-panel">
                                        <div class="pull-left image">
                                            <img src="~/Admin/assets/img/dp.jpg" class="img-circle user-img-circle"
                                                 alt="User Image" />
                                        </div>
                                        <div class="pull-left info">
                                            <p> @User.Identity.Name</p>
                                            <a href="#">
                                                <i class="fa fa-circle user-online"></i><span class="txtOnline">
                                                    Online
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </li>


                                <li class="nav-item " style="border:3px solid white;">
                                    <a href="javascript:;" class="nav-link nav-toggle" style="background-color:chocolate">
                                        <i class="material-icons" style="color:#fff;">monetization_on</i>
                                        <span class="title" style="color:papayawhip;">Admission Fees</span> <span class="selected"></span>
                                        <span class="arrow open" style="color:white;"></span>
                                    </a>
                                    <ul class="sub-menu">




                                        <li class="nav-item">
                                            <a asp-area="" asp-controller="Admin" asp-action="ShowOldStudentAdmissionFees" class="nav-link ">
                                                <span class="title">Show Old Students</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>

                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                                        {

                                            <li class="nav-item">
                                                <a asp-area="" asp-controller="Admin" asp-action="AddOldStudentAdmissionFees" class="nav-link ">
                                                    <span class="title">
                                                        Add Old Students
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    <span class="title">Add New Students</span>
                                                </a>
                                            </li>

                                        }
                                            <li class="nav-item">
                                                <a href="#" class="nav-link ">
                                                    <span class="title">
                                                        Show New Students
                                                    </span>
                                                </a>
                                            </li>


                                       



                                        </ul>
                                </li>




                                <li class="nav-item" style="border:3px solid white;">
                                    <a href="javascript:;" class="nav-link nav-toggle" style="background-color:chocolate">
                                        <i class="material-icons" style="color:#fff;">subtitles</i>
                                        <span class="title" style="color:papayawhip;">Forms </span>
                                        <span class="arrow" style="color:white;"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="layouts_form.html" class="nav-link ">
                                                <span class="title">Form Layout</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="advance_form.html" class="nav-link ">
                                                <span class="title">Advance Component</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="wizard.html" class="nav-link ">
                                                <span class="title">Form Wizard</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="validation_form.html" class="nav-link ">
                                                <span class="title">Form Validation</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="editable_form.html" class="nav-link ">
                                                <span class="title">Editor</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end sidebar menu -->

                @RenderBody()

            </div>




            <hr />
            <!-- start footer -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    2019 &copy; PRD High School
                    <a href="f.mahin7@gmail.com" target="_top" class="makerCss">Farhan Masud Mahin</a>
                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- end footer -->
        </div>

        <environment include="Development">


            <!-- start js include path -->
            <script src="~/Admin/assets/plugins/jquery/jquery.min.js"></script>
            <script src="~/Admin/assets/plugins/popper/popper.js"></script>
            <script src="~/Admin/assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
            <script src="~/Admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
            <!-- bootstrap -->
            <script src="~/Admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <!-- Common js-->
            <script src="~/Admin/assets/js/app.js"></script>
            <script src="~/Admin/assets/js/layout.js"></script>
            <script src="~/Admin/assets/js/theme-color.js"></script>
            <!-- Material -->
            <script src="~/Admin/assets/plugins/material/material.min.js"></script>
            <script src="~/Admin/assets/js/pages/material-select/getmdl-select.js"></script>
            <script src="~/Admin/assets/plugins/material-datetimepicker/moment-with-locales.min.js"></script>
            <script src="~/Admin/assets/plugins/material-datetimepicker/bootstrap-material-datetimepicker.js"></script>
            <script src="~/Admin/assets/plugins/material-datetimepicker/datetimepicker.js"></script>
            <!-- dropzone -->
            <script src="~/Admin/assets/plugins/dropzone/dropzone.js"></script>
            <script src="~/Admin/assets/plugins/dropzone/dropzone-call.js"></script>
            <!-- end js include path -->
            <!--
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
            -->




        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>

