
@{
    ViewData["Title"] = "ErrorLogin";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

    <div class="container"><h2>You need permission from the admin it will take some times keep patient</h2></div>

