
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="main-slideshow">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img width="700" height="380" src="~/Home/wp-content/uploads/2014/03/SchoolImage.jpg" class="attachment-slider-image wp-post-image" alt="slide3" />
                            <div class="slider-caption">
                                <h2><a href="#">Prd High School</a></h2>
                                <p>'--Children friendly school.'</p>
                            </div>
                        </li>
                        <li>
                            <img width="770" height="380" src="~/Home/wp-content/uploads/2014/03/Abbu.jpg" class="attachment-slider-image wp-post-image" alt="slide2" />
                            <div class="slider-caption">
                                <h2><a href="#">Prizing ceremony</a></h2>
                                <p>Build your way in the suitable possition </p>
                            </div>
                        </li>
                        <li>
                            <img width="770" height="380" src="~/Home/wp-content/uploads/2014/03/Ammu.jpg" class="attachment-slider-image wp-post-image" alt="slide1" />
                            <div class="slider-caption">
                                <h2><a href="#">Prd festival</a></h2>
                                <p>Education is the backbone of our nation</p>
                            </div>
                        </li>

                        <li>
                            <img width="770" height="380" src="~/Home/wp-content/uploads/2014/03/SweetBaby.jpg" class="attachment-slider-image wp-post-image" alt="slide1" />
                            <div class="slider-caption">
                                <h2><a href="#">Focused on children</a></h2>
                                <p>Growing up with a nice environment is essential</p>
                            </div>
                        </li>

                        <li>
                            <img width="770" height="380" src="~/Home/wp-content/uploads/2014/03/Teachers.jpg" class="attachment-slider-image wp-post-image" alt="slide1" />
                            <div class="slider-caption">
                                <h2><a href="#">Prd study tour</a></h2>
                                <p>Geathering knowledge from outside the school.</p>
                            </div>
                        </li>
                    </ul>
                    <!-- /.slides -->
                </div><!-- /.flexslider -->
            </div><!-- /.main-slideshow -->
        </div> <!-- /.col-md-12 -->
        <div class="col-md-4 ">
            <div id="core_latest_events-2" class="widget-main">
                <div class="widget-main-title"><h4 class="widget-title">Upcoming Events</h4></div>		<div class="widget-inner">
                    <div class="event-small-list clearfix">

                        <div class="calendar-small">
                            <span class="s-month">Feb</span>
                            <span class="s-date">19</span>
                        </div>

                        <div class="event-small-details">
                            <h5 class="event-small-title">
                                <a href="event/ultimate-university-conference/index.html">Ultimate University Conference</a>
                            </h5>
                            <div class="event-small-meta small-text">
                                Auditorium Lagoon 08:00AM/PM to 15:00AM/PM
                            </div>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">

                        <div class="calendar-small">
                            <span class="s-month">May</span>
                            <span class="s-date">19</span>
                        </div>

                        <div class="event-small-details">
                            <h5 class="event-small-title">
                                <a href="event/building-blocks-yorks-pension-plan/index.html">Building Blocks – York’s Pension Plan</a>
                            </h5>
                            <div class="event-small-meta small-text">
                                Main Theater 15:00PM to 19:00PM
                            </div>
                        </div>
                    </div>
                    <div class="event-small-list clearfix">

                        <div class="calendar-small">
                            <span class="s-month">Dec</span>
                            <span class="s-date">19</span>
                        </div>

                        <div class="event-small-details">
                            <h5 class="event-small-title">
                                <a href="event/nelson-mandela-memorial-tribute/index.html">Nelson Mandela Memorial Tribute</a>
                            </h5>
                            <div class="event-small-meta small-text">
                                Cramton Auditorium  08:00AM to 12:00AM
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <br />
            <div id="mc_display_rewards" align="center">
                powered by <a href="#">PRD</a>!
            </div><!-- /mc_display_rewards -->

        </div><!-- /mc_form_inside -->
        
    </div><!-- /mc_signup_container -->
</div>
            

<div class="container">
    <div class="row">
        <!-- Here begin Main Content -->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-item">

                        <h2>Welcome to Universe Premium Template</h2>
                        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, adipisci, quibusdam, ad ab quisquam esse aspernatur exercitationem aliquam at fugit omnis vitae recusandae eveniet.</strong></p>
                        <p>Inventore, aliquam sequi nisi velit magnam accusamus reprehenderit nemo necessitatibus doloribus molestiae fugit repellat repudiandae dolor. Incidunt, nulla quidem illo suscipit nihil!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, dolorem, fugiat, commodi totam accusantium illo incidunt quis eius eum iure et fugit voluptas atque ratione nobis sed omnis quod ipsa.</p>
                        <p>Vivamus mattis nibh vitae dui egestas posuere. Maecenas a est at enim blandit interdum. Cras eget ipsum ac nunc tristique tincidunt sit amet nec quam. Vivamus sed suscipit enim, et dignissim tellus.</p>
                    </div> <!-- /.widget-item -->
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->

            <div class="row">

                <div class="col-md-6">
                    <div id="core_recent_posts-2" class="widget-main">
                        <div class="widget-main-title"><h4 class="widget-title">Latest News</h4></div>		<div class="widget-inner">
                            <div class="blog-list-post clearfix">
                                <div class="blog-list-thumb">
                                    <a href="what-you-have-to-know-about-mba/index.html" title="What  you have to know about MBA">
                                        <img width="65" height="65" src="~/Home/wp-content/uploads/2014/03/gallery5-65x65.jpg" class="attachment-widget-blog-thumb wp-post-image" alt="gallery5" />
                                    </a>
                                </div>
                                <div class="blog-list-details">
                                    <h5 class="blog-list-title">
                                        <a href="what-you-have-to-know-about-mba/index.html">What  you have to know about MBA</a>
                                    </h5>
                                    <div class="blog-list-meta small-text">
                                        <span>March 12, 2014</span>
                                        With					<span><a href="what-you-have-to-know-about-mba/index.html#comments">No Comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-list-post clearfix">
                                <div class="blog-list-thumb">
                                    <a href="how-much-costs-a-reliable-degree/index.html" title="How much costs a reliable degree?">
                                        <img width="65" height="65" src="~/Home/wp-content/uploads/2014/03/gallery6-65x65.jpg" class="attachment-widget-blog-thumb wp-post-image" alt="gallery6" />
                                    </a>
                                </div>
                                <div class="blog-list-details">
                                    <h5 class="blog-list-title">
                                        <a href="how-much-costs-a-reliable-degree/index.html">How much costs a reliable degree?</a>
                                    </h5>
                                    <div class="blog-list-meta small-text">
                                        <span>March 12, 2014</span>
                                        With					<span><a href="how-much-costs-a-reliable-degree/index.html#comments">2 Comments</a></span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-list-post clearfix">
                                <div class="blog-list-thumb">
                                    <a href="visiting-artists-giles-bailey/index.html" title="Visiting Artists: Giles Bailey">
                                        <img width="65" height="65" src="~/Home/wp-content/uploads/2014/03/slide1-65x65.jpg" class="attachment-widget-blog-thumb wp-post-image" alt="slide1" />
                                    </a>
                                </div>
                                <div class="blog-list-details">
                                    <h5 class="blog-list-title">
                                        <a href="visiting-artists-giles-bailey/index.html">Visiting Artists: Giles Bailey</a>
                                    </h5>
                                    <div class="blog-list-meta small-text">
                                        <span>March 11, 2014</span>
                                        With					<span><a href="visiting-artists-giles-bailey/index.html#comments">No Comments</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- /.col-md-6 -->

                <div class="col-md-6">
                    <!--
                                    <div id="core_latest_events-2" class="widget-main"><div class="widget-main-title"><h4 class="widget-title">Upcoming Events</h4></div>		<div class="widget-inner">
                                    <div class="event-small-list clearfix">

                            <div class="calendar-small">
                                <span class="s-month">Feb</span>
                                <span class="s-date">19</span>
                            </div>

                        <div class="event-small-details">
                            <h5 class="event-small-title">
                                <a href="event/ultimate-university-conference/index.html">Ultimate University Conference</a>
                            </h5>
                            <div class="event-small-meta small-text">
                                Auditorium Lagoon 08:00AM/PM to 15:00AM/PM				</div>
                        </div>
                    </div>
                            <div class="event-small-list clearfix">

                            <div class="calendar-small">
                                <span class="s-month">May</span>
                                <span class="s-date">19</span>
                            </div>

                        <div class="event-small-details">
                            <h5 class="event-small-title">
                                <a href="event/building-blocks-yorks-pension-plan/index.html">Building Blocks – York’s Pension Plan</a>
                            </h5>
                            <div class="event-small-meta small-text">
                                Main Theater 15:00PM to 19:00PM				</div>
                        </div>
                    </div>
                            <div class="event-small-list clearfix">

                            <div class="calendar-small">
                                <span class="s-month">Dec</span>
                                <span class="s-date">19</span>
                            </div>

                        <div class="event-small-details">
                            <h5 class="event-small-title">
                                <a href="event/nelson-mandela-memorial-tribute/index.html">Nelson Mandela Memorial Tribute</a>
                            </h5>
                            <div class="event-small-meta small-text">
                                Cramton Auditorium  08:00AM to 12:00AM				</div>
                        </div>
                    </div>
                            </div>

                    </div> -->
                </div> <!-- /.col-md-6 -->

            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="widget-main">
                        <div class="widget-main-title">
                            <h4 class="widget-title">Our Campus</h4>
                        </div> <!-- /.widget-main-title -->
                        <div class="widget-inner">
                            <div class="our-campus clearfix">
                                <ul>
                                    <li><img src="~/Home/wp-content/uploads/2014/03/campus-logo4.jpg" alt=""></li>
                                    <li><img src="~/Home/wp-content/uploads/2014/03/campus-logo3.jpg" alt=""></li>
                                    <li><img src="~/Home/wp-content/uploads/2014/03/campus-logo2.jpg" alt=""></li>
                                    <li><img src="~/Home/wp-content/uploads/2014/03/campus-logo1.jpg" alt=""></li>

                                </ul>
                            </div>
                        </div>
                    </div> <!-- /.widget-main -->
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->

        </div> <!-- /.col-md-8 -->
        <div class="col-md-4 sidebar">
            <div id="core_testimonials-2" class="widget-main">
                <div class="widget-main-title"><h4 class="widget-title">Testimonials</h4></div>		<div class="widget-inner">

                    <div id="slider-testimonials">
                        <ul>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum</p>
                                <strong>Jane Simpson</strong>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum</p>
                                <strong>Mark Barreto</strong>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quos, veniam optio voluptas hic delectus soluta odit nemo harum</p>
                                <strong>Steven Joe</strong>
                            </li>
                        </ul>
                        <a class="prev fa fa-angle-left" href="#"></a>
                        <a class="next fa fa-angle-right" href="#"></a>
                    </div>
                </div>

            </div><div id="flickr-2" class="widget-main"><div class="widget-main-title"><h4 class="widget-title">Flickr Widget</h4></div><div id="flickr_tab" class="clearfix">
            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script></div></div>
        </div>
    </div> <!--//.row -->
</div> <!--//.container -->